<style type="text/css">
    .tftable {font-size:14px;color:#333333;border-width: 1px;border-color: #87ceeb;border-collapse: collapse;}
    .tftable th {font-size:18px;background-color:#87ceeb;border-width: 1px;padding: 8px;border-style: solid;border-color: #87ceeb;text-align:left;}
    .tftable tr {background-color:#ffffff;}
    .tftable td {font-size:14px;border-width: 1px;padding: 8px;border-style: solid;border-color: #87ceeb;}
    .tftable tr:hover {background-color:#e0ffff;}
</style>

<h3>Maior Duração</h3>
<table class="tftable" border="1">
    <tr>
        <th>Tipo</th>
        <th>Status</th>
        <th>Link</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th>Duração (seg)</th>
    </tr>
    {% for ej in mas_lentas %}
    <tr>
        <td>{{ ej.tipo }}</td>
        <td>{{ ej.estatus }}</td>
        <td><a href="https://rundeck.s3caceis.com.br:4443/project/Aldrin-Megara/execution/show/{{ ej.archivo }}" target="_blank">Navegar a execução</a></td>
        <td>{{ ej.hora_de_inicio }}</td>
        <td>{{ ej.hora_de_fin }}</td>
        <td>{{ ej.duracion_segundos }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6">Não há dados de execuções lentas.</td>
    </tr>
    {% endfor %}
</table>

<h3>Menor Duração</h3>
<table class="tftable" border="1">
    <tr>
        <th>Tipo</th>
        <th>Status</th>
        <th>Link</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th>Duração (seg)</th>
    </tr>
    {% for ej in mas_rapidas %}
    <tr>
        <td>{{ ej.tipo }}</td>
        <td>{{ ej.estatus }}</td>
        <td><a href="https://rundeck.s3caceis.com.br:4443/project/Aldrin-Megara/execution/show/{{ ej.archivo }}" target="_blank">Navegar a execução</a></td>
        <td>{{ ej.hora_de_inicio }}</td>
        <td>{{ ej.hora_de_fin }}</td>
        <td>{{ ej.duracion_segundos }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6">Não há dados de execuções rápidas.</td>
    </tr>
    {% endfor %}
</table>